#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  h1 {
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
  }
  
  a {
    margin-right: 5px;
  }
 
}

